prefect
huggingface-hub
requests
google-generativeai
python-dotenv
tk
chatterbot
chatterbot-corpus
rasa
asyncio
aiohttp
tenacity==8.2.3
bleach==6.0.0
pytest==8.0.2
circuitbreaker==2.0.0
rasa-sdk
prefect
markdown2 
tkhtmlview